subscription_id = "3810f594-f91b-404a-b6eb-ebf9b9e4f62c"
client_id = "123"
client_name = "Verituity"
environment = "dev"
purpose="<<Purpose>>"
resource_group_name="rg-aks-dev-eastus-001"
location = "eastus"
kubernetes_version = "1.23.3"
aks_cluster_name = "cluster-aks-dev-eastus-001"
client_secret = "sample-secret"
repository_name = "acrdeveastus001"
virtual_network_name        = "vnet-aks-dev-eastus-001"
virtual_network_address_space = ["172.24.0.0/20"]
subnets = [
    {
        name           = "AzureBastionSubnet"
        address_prefixes = "172.24.4.0/26"
        service_endpoints = ""
    },
    {
        name           = "snet-aks-dev-eastus-001"
        address_prefixes = "172.24.0.0/22"
        service_endpoints = ""
    }
]

public_ips = [
    {
        pip_name               = "pip-bas-dev-eastus-001"
        allocation_method      = "Static"
        sku                    = "Standard"
    }
]

bastion_hosts = [
    {
        bastion_host_name = "bas-host-dev-eastus-001"
        pip_name          = "pip-bas-dev-eastus-001"
        subnet_name       = "AzureBastionSubnet"
        vnet_name         = "vnet-aks-dev-eastus-001"
    }
]

sku = {
    name = "WAF_v2"
    tier = "WAF_v2"
    capacity = 1
}

network_profile = {
    service_cidr        = "172.25.0.0/20"
    docker_bridge_cidr  = "172.26.0.1/20"
    dns_service_ip      = "172.25.0.10"
    network_plugin      = "azure"
    load_balancer_sku   = "standard"
    managed_outbound_ip_count = 1
}

azure_container_registry_sku= "standard"

tags = {}