client_id = "<<Client ID>>"
client_name = "<<Client Name>>"
environment = "nonprod"
purpose="uat"
create_file_share = true
mysql_server = {
    user = "SD_MYSQL_ADMINL"
    sku = "B_Gen5_2"
}
#mysql_admin_password = "QlSPmGU!3245$%7SRV"
mysql_database_1_password = "QlSPmGU!32$%7DB"
mysql_database_2_password = null
mysql_database_3_password = null
mysql_database_4_password = null
mysql_database_5_password = null
mysql_database_6_password = null

mysql_server_databases = [
    {
        name = "xccpspmmv544lab"
        key_vault_ref_key="kvxccpspmmv544lab"
        user = "SD_MYSQL_PMMUL"
        restore = "false"
        #dump_file_name = "<<Dump File Name>>"
        #file_share_account_name = "<<File Share Account Name>>"
        #file_share_name = "<<File Share Name>>"
        #file_share_account_key = "<<File Share Account Key>>"
    }
]

mysql_server_configurations = [
    {
        name = "log_bin_trust_function_creators",
        value = "ON"
    },
    {
        name = "max_connections",
        value = "99"
    },
    {
        name = "net_read_timeout",
        value = "300"
    },
    {
        name = "net_write_timeout",
        value = "300"
    },
    {
        name = "interactive_timeout",
        value = "7200"
    },
    {
        name = "wait_timeout",
        value = "7200"
    }
]

virtual_network_address_space = "10.29.0.0/16"

subnets = [
    {
        name_prefix = "adb" // Subnet for database
        address_prefixes = "10.29.0.32/28"
    },
    {
        name_prefix = "dbr" // Subnet for database replica
        address_prefixes = "10.29.0.48/28"
    },
    {
        name_prefix = "vpn" // Subnet for VPN Gateway
        provision_vpn_gateway = "false"
        address_prefixes = "10.29.0.64/27"
    },
    {
        name_prefix = "aks" // Subnet for AKS Cluster
        address_prefixes = "10.29.0.128/25"
    }
]

repository_name = "<<ACR Repository Name>>"
repository_resource_group_name = "<<ACR Resource Group>>"

namespaces = [
    {
        name = "frontend"
    },
    {
        name = "workload"
    }
]

aks_cluster_secrets = [
    {
        namespace_name = "frontend"
    },
    {
        namespace_name = "workload"
    }
]

node_pools = [
    {
        name="systemnp"
    },
    {
        name="primarynp",
        vm_size = "Standard_D4_v4",
        node_taints = "pool=primarynp:NoSchedule"
    }
]

external_ingress_enabled = "false"

services = [
    {
        service_name        = "ccm"
        application         = "<<CCM Image Name>>"
        replica_count       = 1
        max_replica_count   = 3
        application_version = "<<CCM Image Version>>"
        deployment_port     = 8080
        ingress_port        = 80
        namespace_name      = "workload"
        ingress_path        = "/ccm"
        ingress_namespace_name = "frontend"
        liveness_probe_path    = "/"
        readiness_probe_path   = "/"
        tolerations         = [
            { key = "pool", value = "primarynp"},
        ]
    },
    {
        service_name        = "pem"
        application         = "<<PEM Image Name>>"
        replica_count       = 1
        max_replica_count   = 3
        application_version = "<<PEM Image Version>>"
        deployment_port     = 8080
        ingress_port        = 8092
        namespace_name      = "workload"
        ingress_path        = "/pem"
        ingress_namespace_name = "frontend"
        liveness_probe_path    = "/"
        readiness_probe_path   = "/"
        tolerations         = [
            { key = "pool", value = "primarynp"},
        ]
    },
    {
        service_name        = "pmk"
        application         = "<<PMK Image Name>>"
        replica_count       = 1
        max_replica_count   = 3
        application_version = "<<PMK Image Version>>"
        deployment_port     = 8080
        ingress_port        = 8093
        namespace_name      = "workload"
        ingress_path        = "/pmk"
        ingress_namespace_name = "frontend"
        liveness_probe_path    = "/"
        readiness_probe_path   = "/"
        tolerations         = [
            { key = "pool", value = "primarynp"},
        ]
    },
    {
        service_name        = "pmm"
        application         = "<<PMM Image Name>>"
        replica_count       = 1
        max_replica_count   = 3
        application_version = "<<PMM Image Version>>"
        deployment_port     = 8080
        ingress_port        = 8095
        namespace_name      = "workload"
        ingress_path        = "/pmm"
        ingress_namespace_name = "frontend"
        liveness_probe_path    = "/"
        readiness_probe_path   = "/"
        tolerations         = [
            { key = "pool", value = "primarynp"},
        ]
    }
]

keyvault_secrets = []

create_service_bus = false
create_event_hub = true
create_bastion = false
create_virtual_machine = false
